{:paths ["src" "target/classes"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.3"}}

 :aliases
 {:repl
  {:extra-deps
   {cider/cider-nrepl                        {:mvn/version "0.49.0"}
    com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.2.2"}
    criterium/criterium                      {:mvn/version "0.4.6"}
    hiccup/hiccup                            {:mvn/version "2.0.0-RC3"}}
   :jvm-opts
   ["-XX:-OmitStackTraceInFastThrow"
    "-Djdk.attach.allowAttachSelf"]
   :main-opts
   ["-m" "nrepl.cmdline"
    "-m" "[cider.nrepl/cider-middleware]"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {com.health-samurai/matcho {:mvn/version "0.3.11"}}}

  :bench
  {:extra-paths ["classes"]
   :extra-deps {jmh-clojure/task {:mvn/version "0.1.1"}
                hiccup/hiccup    {:mvn/version "2.0.0-RC3"}}
   :ns-default jmh.task
   :exec-fn jmh.task/run}

  :uberjar
  {:extra-deps {uberdeps/uberdeps {:mvn/version "1.3.0"}}
   :main-opts  ["-m"           "uberdeps.uberjar"
                "--main-class" "clj-fast-html.core"]}

  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
   :main-opts  ["-m"     "deps-deploy.deps-deploy"
                "deploy" "target/clj-fast-html.jar"]}}}
